<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
    <link rel="stylesheet" href="/static/css/carrusel1.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/acercaDe.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <form action="{{ url_for('index') }}" method="get">
                <input type="image" alt="Eco-Friendly Logo" src="/static/img/eco--.jpeg">
              </form>
          
            <h1>ECO - FRIENDLY</h1>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="¿Qué estás buscando?">
            <button><img src="/static/img/buscar (2).png" alt="Buscar"></button>
        </div>
        <div class="user-icons">
            <div class="dropdown">
                <!-- Botón de Mi cuenta -->
                <a href="Mi Cuenta.html">
                    <button class="account-btn">
                        <img src="/static/img/usuario (1).png" alt="Mi cuenta"> Mi cuenta
                    </button>
                </a>
                
                
                <!-- Menú desplegable -->
                <div class="dropdown-content">
                    <a href="InicioDeSesión.html">Iniciar sesión</a>
                    <a href="registrar.html">Registrarse</a>
                </div>
            </div>
            
           <a href="favoritos.html"><button class="icon-btn"><img src="/static/img/favorito.png" alt="Favoritos"></button></a> 
            <button class="icon-btn"><img src="/static/img/notificacion.png" alt="Notificaciones"></button>
            <a href="carrito.html">
                <button class="icon-btn">
                    <img src="/static/img/carrito-de-compras.png" alt="Carrito">
                    <span id="cart-counter">0</span> <!-- Contador del carrito -->
                </button>
            </a>
           
            
            
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="{{ url_for('acerca_de') }}" target="_self">Acerca de</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="productos.html">Categorías</a></li>
            <li><a href="ofertas.html">Ofertas</a></li>
            <li><a href="contacto.html">Contáctanos</a></li>
        </ul>
    </nav>

    <main> 
        <div class="row titulof">
            <p class="titulop">Acerca De</p>
        </div>
        <div class="acerca-de">
            <section class="historia">
                <h2>Historia</h2>
                <div class="historia-contenido">
                    <div class="texto">
                        <p>Eco-Friendly comenzó cuando tres amigos, unidos por su amor por el planeta, se dieron cuenta del impacto negativo que tenían los productos desechables y plásticos en el medio ambiente. Durante un viaje juntos, vieron de primera mano cómo la contaminación afectaba a comunidades y ecosistemas, y decidieron tomar acción.</p>
                        <p>Al volver, crearon Eco-Friendly con la misión de ofrecer alternativas sostenibles y accesibles para quienes desean vivir de manera más responsable. Hoy, siguen comprometidos en seleccionar productos ecológicos y apoyar a productores locales, trabajando cada día por un futuro más verde y limpio.</p>
                    </div>
                    <div class="imagen-historia">
                        <img src="/static/img/productos.jpg" alt="Historia de Eco-Friendly">
                    </div>
                </div>
            </section>
            
            <section class="mision-vision">
                <h2>Misión y Visión</h2>
                <div class="mision-vision-contenido">
                    <div class="mision">
                        <h3>Misión</h3>
                        <p>Nuestra misión es ofrecer una tienda en línea de productos sostenibles que facilite a las personas encontrar alternativas ecológicas para su vida diaria. Queremos reducir el impacto ambiental al brindar opciones responsables y accesibles para todos.</p>
                    </div>
                    <div class="vision">
                        <h3>Visión</h3>
                        <p>Convertirnos en la tienda en línea líder de productos eco-amigables, inspirando a nuestros clientes a tomar decisiones de compra más conscientes y contribuyendo al bienestar del planeta.</p>
                    </div>
                </div>
            </section>
    
        </div>

    </main>




    <hr class="linea">
    <footer>
        
        <div class ="footer_logo">
            <img src="/static/img/eco-friendly.jpeg" alt="Eco-Friendly Footer Logo">
        </div>

        <hr class="linea">
        <br>
        
        <div class="social-media">
            <h2>Siguenos en:</h2>
            <a href="#"><img src="/static/img/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="/static/img/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="/static/mg/youtube.png" alt="YouTube"></a>
            <a href="#"><img src="/static/img/tik-tok.png" alt="TikTok"></a>
        </div>

        <div class="footer-info">
            <div>
                <h4>Información:</h4>
                <p><a href="#">Preguntas frecuentes</a></p>
                <p><a href="terminosycondiciones.html">Términos y condiciones</a></p>
                <p><a href="#">Protección de datos</a></p>
                <p><a href="#">Libro de reclamaciones</a></p>
            </div>
            <div>
                <h4>Sobre nosotros:</h4>
                <p><a href="{{ url_for('acerca_de') }}" target="_self">Historia</a></p>
                <p><a href="{{ url_for('acerca_de') }}" target="_self">Misión y Visión</a></p>
                <p><a href="blog.html">Blog</a></p>
                <p><a href="centrodeayuda.html">Centro de ayuda</a></p>
            </div>
            <div>
                <h4>Contacto:</h4>
                <p>Eco_friendly@gmail.com</p>
                <p>Escríbenos al WhatsApp +51 923 542 938</p>
                <p>Envíos Nacionales - Perú</p>
                <p><a href="contacto.html">Contáctanos</a></p>
            </div>
        </div>

        <div class="row">
            <div class="footer-bottom">
                <p>Copyright &copy; Eco-Friendly 2024 | Todos los derechos reservados.</p>
            </div>
        
        </div>
        
      
       
    </footer>



    <script src="/static/js/bootstrap.min.js"> </script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/añadiralcarrito.js"></script>
</body>
</html>