<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/carrito.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <form action="index.html" method="get">
                <input type="image" alt="Eco-Friendly Logo" src="/static/img/eco--.jpeg">
              </form>
            <h1>ECO - FRIENDLY</h1>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="¿Qué estás buscando?">
            <button><img src="/static/img/buscar (2).png" alt="Buscar"></button>
        </div>
        <div class="user-icons">
            <div class="dropdown">
                <!-- Botón de Mi cuenta -->
                <a href="Mi Cuenta.html">
                    <button class="account-btn">
                        <img src="/static/img/usuario (1).png" alt="Mi cuenta"> Mi cuenta
                    </button>
                </a>
                
                
                <!-- Menú desplegable -->
                <div class="dropdown-content">
                    <a href="InicioDeSesión.html">Iniciar sesión</a>
                    <a href="registrar.html">Registrarse</a>
                </div>
            </div>
            <a href="favoritos.html"><button class="icon-btn"><img src="/static/img/favorito.png" alt="Favoritos"></button></a> 
            <button class="icon-btn"><img src="/static/img/notificacion.png" alt="Notificaciones"></button>
            <a href="carrito.html">
                <button class="icon-btn">
                    <img src="/static/img/carrito-de-compras.png" alt="Carrito">
                    <span id="cart-counter">0</span> <!-- Contador del carrito -->
                </button>
            </a>
            
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="acercaDe.html">Acerca de</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="#">Tienda</a></li>
            <li><a href="productos.html">Categorías</a></li>
            <li><a href="ofertas.html">Ofertas</a></li>
            <li><a href="contacto.html">Contáctanos</a></li>
        </ul>
    </nav>


    <main>
        <div class="row titulof">
            <p class="titulop">Carrito de Compras</p>
        </div>
        <div class="row esp"><br></div>
        <div class="row perfil">
            <div class="col-1"></div>
            <div class="col-1">
                <br>
                <div class="user">
                    <img src="/static/img/usuario (8).png" alt="">
                </div>

            </div>
            <div class="col-10">
                <br>
                <div class="infocuenta">
                    <br>
                    <p>Bienvenid@</p>
                    <p>Angelli Cieza Rojas </p>
                    <br>
                </div>
                
            </div>
        </div>
        <div class="row esp"><br></div>
       
<!-- Carrito de Compras -->
<div class="row">
    <div class="col-8">
        <div class="row carrito">
            <div class="col-1 esp"></div>
            <div class="col-5 tit">Producto</div>
            <div class="col-2 tit">Precio</div>
            <div class="col-2 tit">Cantidad</div>
            <div class="col-2 tit">SubTotal</div>
        </div>
        <!-- Aquí comenzarán las filas de productos -->
        <div id="cart-product-container">
            <!-- Los productos añadidos se insertarán aquí dinámicamente -->
        </div>
        <br>
        <button id="clear-cart-btn" class="btnlimpiar">Limpiar Carrito</button>
    </div>
    
    <div class="col-4">
        <div class="row resumen">
            <div class="col-1 esp"></div>
            <div class="col-10 produ">Resumen del carrito</div>
            <div class="col-1 esp"></div>
        </div>
        <div class="row resumen">
            <div class="col-1 esp"></div>
            <div class="col-10 produ">
                <div class="row">
                    <div class="col-6">SubTotal</div>
                    <div class="col-6 subtotal">S/0.00</div>
                </div>
                <div class="row">
                    <div class="col-6">Envío</div>
                    <div class="col-6 shipping">S/9.32</div>
                </div>
            </div>
            <div class="col-1 esp"></div>
        </div>
        <div class="row resumen">
            <div class="col-1 esp"></div>
            <div class="col-10 produ">
                <div class="row">
                    <div class="col-6">Total:</div>
                    <div class="col-6 total">S/9.32</div>
                    <br><br>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <a href="confirmacion_compra.html"><button class="btncompra">Continuar Compra</button></a>
                    </div>
                    <div class="col-1"></div>
                </div>
                <br>
            </div>
            <div class="col-1 esp"></div>
        </div>
    </div>

        <div class="row esp"><br></div>


    </main>


    <hr class="linea">
    <footer>
        
        <div class ="footer_logo">
            <img src="/static/img/eco-friendly.jpeg" alt="Eco-Friendly Footer Logo">
        </div>

        <hr class="linea">
        <br>
        
        <div class="social-media">
            <h2>Siguenos en:</h2>
            <a href="#"><img src="/static/img/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="/static/img/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="/static/img/youtube.png" alt="YouTube"></a>
            <a href="#"><img src="/static/img/tik-tok.png" alt="TikTok"></a>
        </div>

        <div class="footer-info">
            <div>
                <h4>Información:</h4>
                <p><a href="#">Preguntas frecuentes</a></p>
                <p><a href="terminosycondiciones.html">Términos y condiciones</a></p>
                <p><a href="#">Protección de datos</a></p>
                <p><a href="#">Libro de reclamaciones</a></p>
            </div>
            <div>
                <h4>Sobre nosotros:</h4>
                <p><a href="acercaDe.html">Historia</a></p>
                <p><a href="acercaDe.html">Misión y Visión</a></p>
                <p><a href="blog.html">Blog</a></p>
                <p><a href="centrodeayuda.html">Centro de ayuda</a></p>
            </div>
            <div>
                <h4>Contacto:</h4>
                <p>Eco_friendly@gmail.com</p>
                <p>Escríbenos al WhatsApp +51 923 542 938</p>
                <p>Envíos Nacionales - Perú</p>
                <p><a href="contacto.html">Contáctanos</a></p>
            </div>
        </div>

        <div class="row foot">
            <div class="footer-bottom">
                <p>Copyright &copy; Eco-Friendly 2024 | Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>


    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"> </script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/limpiarcarrito.js"></script>
    <script src="/static/js/añadiralcarrito.js"></script>
    

</body>
</html>