<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="/static/css/carrusel1.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/contacto.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <form action="index.html" method="get">
                <input type="image" alt="Eco-Friendly Logo" src="/static/img/eco--.jpeg">
              </form>
          
            <h1>ECO - FRIENDLY</h1>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="¿Qué estás buscando?">
            <button><img src="i/static/mg/buscar (2).png" alt="Buscar"></button>
        </div>
        <div class="user-icons">
            <div class="dropdown">
                <!-- Botón de Mi cuenta -->
                <a href="Mi Cuenta.html">
                    <button class="account-btn">
                        <img src="/static/img/usuario (1).png" alt="Mi cuenta"> Mi cuenta
                    </button>
                </a>
                
                
                <!-- Menú desplegable -->
                <div class="dropdown-content">
                    <a href="InicioDeSesión.html">Iniciar sesión</a>
                    <a href="registrar.html">Registrarse</a>
                </div>
            </div>
            <a href="favoritos.html"><button class="icon-btn"><img src="/static/img/favorito.png" alt="Favoritos"></button></a> 
            <button class="icon-btn"><img src="/static/img/notificacion.png" alt="Notificaciones"></button>
            <a href="carrito.html">
                <button class="icon-btn">
                    <img src="/static/img/carrito-de-compras.png" alt="Carrito">
                    <span id="cart-counter">0</span> <!-- Contador del carrito -->
                </button>
            </a>
            
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="acercaDe.html">Acerca de</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="productos.html">Categorías</a></li>
            <li><a href="ofertas.html">Ofertas</a></li>
            <li><a href="contacto.html">Contáctanos</a></li>
        </ul>
    </nav>

    <main> 
        <div class="row titulof">
            <p class="titulop">Contáctanos</p>
        </div>
    <section class="contactanos py-5" style="background-color: #f2eee3;">
        <div class="container">
            <div class="row">
                <!-- Formulario de contacto -->
                <div class="col-md-5">
                    <h3 style="color: #516450;">Contacto</h3>
                    <form>
                        <div class="mb-4">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre">
                        </div>
                        <div class="mb-4">
                            <label for="correo" class="form-label">Correo:</label>
                            <input type="email" class="form-control" id="correo" placeholder="Ingresa tu correo">
                        </div>
                        <div class="mb-4">
                            <label for="asunto" class="form-label">Asunto:</label>
                            <input type="text" class="form-control" id="asunto" placeholder="Ingresa el asunto">
                        </div>
                        <div class="mb-4">
                            <label for="consulta" class="form-label">Consulta:</label>
                            <textarea class="form-control" id="consulta" rows="4" placeholder="Escribe tu consulta"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success w-100">ENVIAR MENSAJE</button>
                    </form>
                </div>
    
                <!-- Espacio entre las secciones -->
                <div class="col-md-1"></div>
    
                <!-- Información de contacto -->
                <div class="col-md-6">
                    <h3 style="color: #516450;">¿Alguna duda?</h3>
                    <p>
                        ¿Tienes preguntas sobre cómo comprar en nuestra web? ¿Te gustaría sugerir mejoras o nos quieres recomendar algún producto eco-friendly? 
                        Si tienes un producto libre de tóxicos que crees que encajaría en nuestra tienda, ¡nos encantaría saberlo! Para esto o cualquier otra consulta, estamos aquí para ayudarte.
                    </p>
                    <p>
                        Puedes contactarnos de las siguientes maneras:
                    </p>
                    <p>
                        <strong>Teléfono:</strong> +51 923 542 938<br>
                        <strong>Email:</strong> Eco_friendly@gmail.com
                    </p>
                    <p>
                        <strong>Horario de Atención:</strong><br>
                        Lunes a Sábado de 9:00 am a 8:30 pm
                    </p>
                </div>
            </div>
        </div>
    </section>
       


    </main>




    <hr class="linea">
    <footer>
        
        <div class ="footer_logo">
            <img src="/static/img/eco-friendly.jpeg" alt="Eco-Friendly Footer Logo">
        </div>

        <hr class="linea">
        <br>
        
        <div class="social-media">
            <h2>Siguenos en:</h2>
            <a href="#"><img src="/static/img/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="/static/img/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="/static/img/youtube.png" alt="YouTube"></a>
            <a href="#"><img src="/static/img/tik-tok.png" alt="TikTok"></a>
        </div>

        <div class="footer-info">
            <div>
                <h4>Información:</h4>
                <p><a href="#">Preguntas frecuentes</a></p>
                <p><a href="terminosycondiciones.html">Términos y condiciones</a></p>
                <p><a href="#">Protección de datos</a></p>
                <p><a href="#">Libro de reclamaciones</a></p>
            </div>
            <div>
                <h4>Sobre nosotros:</h4>
                <p><a href="acercaDe.html">Historia</a></p>
                <p><a href="acercaDe.html">Misión y Visión</a></p>
                <p><a href="blog.html">Blog</a></p>
                <p><a href="centrodeayuda.html">Centro de ayuda</a></p>
            </div>
            <div>
                <h4>Contacto:</h4>
                <p>Eco_friendly@gmail.com</p>
                <p>Escríbenos al WhatsApp +51 923 542 938</p>
                <p>Envíos Nacionales - Perú</p>
                <p><a href="contacto.html">Contáctanos</a></p>
            </div>
        </div>

        <div class="row">
            <div class="footer-bottom">
                <p>Copyright &copy; Eco-Friendly 2024 | Todos los derechos reservados.</p>
            </div>
        
        </div>
        
      
       
    </footer>


    <script src="/static/js/bootstrap.min.js"> </script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/añadiralcarrito.js"></script>
</body>
</html>