<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
  
<body>
    <header>
        <div class="logo">
            <form action="index.html" method="get">
                <input type="image" alt="Eco-Friendly Logo" src="img/eco--.jpeg">
              </form>
          
            <h1>ECO - FRIENDLY</h1>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="¿Qué estás buscando?">
            <button><img src="img/buscar (2).png" alt="Buscar"></button>
        </div>
        <div class="user-icons">
            <div class="dropdown">
                <!-- Botón de Mi cuenta -->
                <a href="Mi Cuenta.html">
                    <button class="account-btn">
                        <img src="img/usuario (1).png" alt="Mi cuenta"> Mi cuenta
                    </button>
                </a>
                
                
                <!-- Menú desplegable -->
                <div class="dropdown-content">
                    <a href="InicioDeSesión.html">Iniciar sesión</a>
                    <a href="registrar.html">Registrarse</a>
                </div>
            </div>
            <a href="favoritos.html"><button class="icon-btn"><img src="img/favorito.png" alt="Favoritos"></button></a> 
            <button class="icon-btn"><img src="img/notificacion.png" alt="Notificaciones"></button>
            <a href="carrito.html">
                <button class="icon-btn">
                    <img src="img/carrito-de-compras.png" alt="Carrito">
                    <span id="cart-counter">0</span> <!-- Contador del carrito -->
                </button>
            </a>
            
            
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="acercaDe.html">Acerca de</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="categorias.html">Categorías</a></li>
            <li><a href="ofertas.html">Ofertas</a></li>
            <li><a href="contacto.html">Contáctanos</a></li>
        </ul>
    </nav>

    <main> 
        <div class="row titulof">
            <p class="titulop">Blog</p>
        </div>

      <div class="blog">
        <section class="contenedor-blog">
            <article class="articulo-blog">
                <img src="img/microfibras.png" alt="Microfibras textiles">
                <h3>Microfibras textiles: ropa limpia y océanos repletos de microplásticos</h3>
                <p>Los microplásticos están considerados la plaga del siglo.</p>
            </article>
            <article class="articulo-blog">
                <img src="img/castilla.png" alt="Serida Asturias">
                <h3>Serida (Asturias): a partir de residuos orgánicos, producir alimentos y mejorar la salud del suelo</h3>
                <p>El Serida está investigando el posible empleo de residuos orgánicos.</p>
            </article>
            <article class="articulo-blog">
                <img src="img/proyecto.png" alt="Proyecto TARPALIFE">
                <h3>Proyecto TARPALIFE: busca materiales reciclables para fabricar bolsas de transporte de agua</h3>
                <p>Un proyecto para producir tejidos reciclables que sustituyan el PVC.</p>
            </article>
            <article class="articulo-blog">
                <img src="img/castilla.png" alt="Castilla-La Mancha">
                <h3>Castilla-La Mancha prioriza la construcción del nuevo Centro de Tratamiento de Residuos de Cuenca</h3>
                <p>La línea de Economía Circular de los Fondos FEDER financia el nuevo Centro de Tratamiento.</p>
            </article>
            <article class="articulo-blog">
                <img src="img/consejos.png" alt="Consejos para mejorar la salud">
                <h3>Consejos para mejorar tu salud y tener una mayor calidad de vida</h3>
                <p>En la sociedad actual todo se mueve muy rápido y no tenemos tiempo de pensar...</p>
            </article>
            <article class="articulo-blog">
                <img src="img/verduras.png" alt="Verduras para bajar el colesterol">
                <h3>3 verduras para bajar el colesterol</h3>
                <p>Beneficios en las cosméticas. Los riesgos de algunos ingredientes...</p>
            </article>
        </section>
        <br>

        <div class="paginacion">
            <button class="pagina">1</button>
            <button class="pagina">2</button>
            <button class="pagina">3</button>
            <button class="pagina">...</button>
        </div>


      </div>
             
    
    </main>




    <hr class="linea">
    <footer>
        
        <div class ="footer_logo">
            <img src="img/eco-friendly.jpeg" alt="Eco-Friendly Footer Logo">
        </div>

        <hr class="linea">
        <br>
        
        <div class="social-media">
            <h2>Siguenos en:</h2>
            <a href="#"><img src="img/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="img/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="img/youtube.png" alt="YouTube"></a>
            <a href="#"><img src="img/tik-tok.png" alt="TikTok"></a>
        </div>

        <div class="footer-info">
            <div>
                <h4>Información:</h4>
                <p><a href="#">Preguntas frecuentes</a></p>
                <p><a href="terminosycondiciones.html">Términos y condiciones</a></p>
                <p><a href="#">Protección de datos</a></p>
                <p><a href="#">Libro de reclamaciones</a></p>
            </div>
            <div>
                <h4>Sobre nosotros:</h4>
                <p><a href="acercaDe.html">Historia</a></p>
                <p><a href="acercaDe.html">Misión y Visión</a></p>
                <p><a href="blog.html">Blog</a></p>
                <p><a href="centrodeayuda.html">Centro de ayuda</a></p>
            </div>
            <div>
                <h4>Contacto:</h4>
                <p>Eco_friendly@gmail.com</p>
                <p>Escríbenos al WhatsApp +51 923 542 938</p>
                <p>Envíos Nacionales - Perú</p>
                <p><a href="contacto.html">Contáctanos</a></p>
            </div>
        </div>

        <div class="row">
            <div class="footer-bottom">
                <p>Copyright &copy; Eco-Friendly 2024 | Todos los derechos reservados.</p>
            </div>
        
        </div>
        
      
       
    </footer>


    <script src="js/bootstrap.min.js"> </script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/añadiralcarrito.js"></script>
</body>
</html>