{% extends "maestra.html" %}

{% block title %}Categorías | Eco-Friendly{% endblock %}

{% block content %}
<div class="col-lg-4  col-md-7 ms-5 mt-4 me-4">
    <a href="{{ url_for('registrar_producto') }}" class="btn btn-primary ">Nuevo</a>
    <hr>
    <table class="table table-bordered table-hover text-center table-responsive ">
        <thead class="table-secondary">
            <tr>
                <th>ID</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto[0] }}</td>
                <td>{{ producto[1] }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Acciones">
                        <form action="{{ url_for('modificar_producto') }}"  method="post">
                            <input type="hidden" name="id" value="{{ producto[0] }}">
                            <button type="submit" class="btn btn-warning me-4 text-white" onclick=" modificar(event)">Modificar</button>
                        </form>
                        <a href="{{ url_for('eliminar_producto', id=producto[0]) }}" class="btn btn-danger" onclick=" confirmarEliminacion(event)">Eliminar</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
