{% extends "maestra.html" %}

{% block title %}Detalle Presentación | Eco-Friendly{% endblock %}

{% block content %}
<div class="col-lg-6  col-md-7 ms-5 mt-4 me-4">
    <a href="{{ url_for('registrar_detallepresentacion') }}" class="btn btn-primary ">Nuevo</a>
    <hr>
    <table class="table table-bordered table-hover text-center table-responsive ">
        <thead class="table-secondary">
            <tr>
                <th>Nombre producto</th>
                <th>Producto</th>
                <th>Presentacion</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for dpr in dprs %}
            <tr>
                <td>{{ dpr[0] }}</td>
                <td><img class="img-item" src="{{ url_for('static', filename='img/' + dpr[1]) }}" alt="Imagen item 1" style="width: 100px;"></td>
                <td>{{ dpr[2] }} - {{ dpr[3] }}</td>
                <td>{{ dpr[4] }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Acciones">
                        <form action="/modificar_detallepresentacion"  method="post">
                            <input type="hidden" name="idpre" value="{{ dpr[5] }}">
                            <input type="hidden" name="idpro" value="{{ dpr[6] }}">
                            <button type="submit" class="btn btn-warning me-4 text-white " onclick=" modificar(event)">Modificar</button>
                        </form>
                       <a href="" class="btn btn-danger" onclick=" confirmarEliminacion(event)">Eliminar</a> 
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


