<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritos</title>
    <link rel="stylesheet" href="css/carrusel1.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/favoritos.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
   </head>
<body>
    <header>
        <div class="logo">
            <form action="index.html" method="get">
                <input type="image" alt="Eco-Friendly Logo" src="img/eco--.jpeg">
              </form>
          
            <h1>ECO - FRIENDLY</h1>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="¿Qué estás buscando?">
            <button><img src="img/buscar (2).png" alt="Buscar"></button>
        </div>
        <div class="user-icons">
            <div class="dropdown">
                <!-- Botón de Mi cuenta -->
                <a href="Mi Cuenta.html">
                    <button class="account-btn">
                        <img src="img/usuario (1).png" alt="Mi cuenta"> Mi cuenta
                    </button>
                </a>
                
                
                <!-- Menú desplegable -->
                <div class="dropdown-content">
                    <a href="InicioDeSesión.html">Iniciar sesión</a>
                    <a href="registrar.html">Registrarse</a>
                </div>
            </div>
            <a href="favoritos.html"><button class="icon-btn"><img src="img/favorito.png" alt="Favoritos"></button></a> 
            <button class="icon-btn"><img src="img/notificacion.png" alt="Notificaciones"></button>
            <a href="carrito.html">
                <button class="icon-btn">
                    <img src="img/carrito-de-compras.png" alt="Carrito">
                    <span id="cart-counter">0</span> <!-- Contador del carrito -->
                </button>
            </a>
            
            
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="acercaDe.html">Acerca de</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="categorias.html">Categorías</a></li>
            <li><a href="ofertas.html">Ofertas</a></li>
            <li><a href="contacto.html">Contáctanos</a></li>
        </ul>
    </nav>

    <main> 
        <div class="row titulof">
            <p class="titulop">Favoritos</p>
        </div>
        <div class="favoritos">
            <section class="lista-favoritos">
                <article class="producto-favorito">
                    <div class="corazon">
                        <img src="img/silueta-en-forma-de-corazon.png" alt="">

                    </div>
                   
                    <img src="img/copaiba.jpg" alt="Jabón Aceite de Copaiba">
                    <div class="info-producto">
                        <h3>Jabón Aceite de Copaiba - Kamari</h3>
                        <p>Gracias a sus propiedades cicatrizantes, antiinflamatorias, antisépticas y antivirales, es ideal para una rutina diaria de</p>
                        <p class="precio">S/9.90</p>
                    </div>
                </article>
                <article class="producto-favorito">
                    <div class="corazon">
                        <img src="img/silueta-en-forma-de-corazon.png" alt="">

                    </div>
                    <img src="img/avena.jpg" alt="Jabón natural Avena y Miel">
                    <div class="info-producto">
                        <h3>Jabón natural Avena y Miel - La Pompa</h3>
                        <p>Jabones de glicerina e ingredientes naturales.</p>
                        <p class="precio">S/11.90</p>
                    </div>
                </article>
                <article class="producto-favorito">
                    <div class="corazon">
                        <img src="img/silueta-en-forma-de-corazon.png" alt="">

                    </div>
                    <img src="img/cafe.jpg" alt="Jabón natural Café">
                    <div class="info-producto">
                        <h3>Jabón natural Café - La Pompa</h3>
                        <p>Jabones naturales elaborados artesanalmente a base de glicerina y con ingredientes naturales.</p>
                        <p class="precio">S/14.90</p>
                    </div>
                </article>
            </section>
    
            <div class="ofertas flotante">
                <h3>Ofertas de LOCURA!!</h3>
                <div class="oferta-item">
                    <img src="img/cepillo-de-dientes-ecologico-biodegradable.jpg" alt="Oferta en Cepillos">
                    <p>OFERTA EN CEPILLOS</p>
                </div>
                <div class="oferta-item">
                    <img src="img/jabones.webp" alt="20% de Descuento en Todo Jabones">
                    <p>20% DE DESCUENTO EN TODO JABONES</p>
                </div>
            </div>


        </div>
       
    </main>




    <hr class="linea">
    <footer>
        
        <div class ="footer_logo">
            <img src="img/eco-friendly.jpeg" alt="Eco-Friendly Footer Logo">
        </div>

        <hr class="linea">
        <br>
        
        <div class="social-media">
            <h2>Siguenos en:</h2>
            <a href="#"><img src="img/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="img/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="img/youtube.png" alt="YouTube"></a>
            <a href="#"><img src="img/tik-tok.png" alt="TikTok"></a>
        </div>

        <div class="footer-info">
            <div>
                <h4>Información:</h4>
                <p><a href="#">Preguntas frecuentes</a></p>
                <p><a href="terminosycondiciones.html">Términos y condiciones</a></p>
                <p><a href="#">Protección de datos</a></p>
                <p><a href="#">Libro de reclamaciones</a></p>
            </div>
            <div>
                <h4>Sobre nosotros:</h4>
                <p><a href="acercaDe.html">Historia</a></p>
                <p><a href="acercaDe.html">Misión y Visión</a></p>
                <p><a href="blog.html">Blog</a></p>
                <p><a href="centrodeayuda.html">Centro de ayuda</a></p>
            </div>
            <div>
                <h4>Contacto:</h4>
                <p>Eco_friendly@gmail.com</p>
                <p>Escríbenos al WhatsApp +51 923 542 938</p>
                <p>Envíos Nacionales - Perú</p>
                <p><a href="contacto.html">Contáctanos</a></p>
            </div>
        </div>

        <div class="row">
            <div class="footer-bottom">
                <p>Copyright &copy; Eco-Friendly 2024 | Todos los derechos reservados.</p>
            </div>
        
        </div>
        
      
       
    </footer>



    <script src="js/bootstrap.min.js"> </script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/añadiralcarrito.js"></script>
</body>
</html>