{% extends "maestra.html" %}

{% block title %}Grupo de Edad | Eco-Friendly{% endblock %}

{% block content %}
<div class="col-lg-4  col-md-7 ms-5 mt-4 me-4">
    <a href="{{ url_for('registrargrupoedad') }}">
        <button class="btn btn-primary">Nuevo</button>
    </a>
    <hr>
    <table class="table table-bordered table-hover text-center table-responsive">
        <thead class="table-secondary">
            <tr>
                <th>ID</th>
                <th>Grupo de Edad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for grupo_edad in grupos_edad %}
            <tr>
                <td>{{ grupo_edad[0] }}</td>
                <td>{{ grupo_edad[1] }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Acciones">
                        <form action="/modificar_grupoedad" method="post">
                            <input type="hidden" name="id" value="{{ grupo_edad[0] }}">
                            <button type="submit" class="btn btn-warning me-2" onclick=" modificar(event)">Modificar</button>
                        </form>
                        <a href="{{ url_for('eliminar_grupo_edad', id=grupo_edad[0]) }}" class="btn btn-danger" onclick=" confirmarEliminacion(event)">Eliminar</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}



