{% extends "maestra.html" %}

{% block title %}Modificar Provincia | Eco-Friendly{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="mb-4 mt-4">Modificar Provincia</h3>
                <form action="{{ url_for('actualizar_provincia') }}" method="post">
                    <input type="hidden" name="id" value="{{ provincia[0] }}">
                    <div class="mb-3">
                        <label for="provincia" class="mb-3">Provincia:</label>
                        <input required type="text" class="form-control" placeholder="provincia" name="provincia" id="provincia" value="{{ provincia[1] }}">    
                        <label for="departamento" class="form-label">Departamento:</label>
                        <select class="form-select" name="departamento">
                            {% for departamento in departamentos  %}
                                {% if provincia[2] == departamento[1] %}
                                <option  selected> {{ departamento[1] }} </option>
                                {% else %}
                                <option > {{ departamento[1] }} </option>
                                {% endif %}  
                            {% endfor %}     
                        </select>
                    </div>
                    <hr>
                    <div class="text-end">
                        <a href="{{ url_for('provincia') }}" class="btn btn-danger mt-2" onclick=" confirmarCancelacion(event)">Cancelar</a>
                        <button type="submit" class="btn btn-primary mt-2" onclick=" confirmarModificacion(event)">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}


