{% extends "maestra.html" %}

{% block title %}Blog | Eco-Friendly{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="row r">
            <div class="col-md-4">
                <h3 class="mb-4 mt-4">Modificar Categoría</h3>
                <form action="{{ url_for('actualizar_producto') }}" method="post">
                    <input type="hidden" name="id" value="{{ producto[0] }}">
                    <div class="mb-3">
                        <label for="producto" class="form-label">Categoría:</label>
                        <input required type="text" class="form-control" id="producto" name="producto" value="{{ producto[1] }}">
                    </div>
                    <hr>
                    <div class="text-end">
                        <a href="{{ url_for('producto') }}" class="btn btn-danger mt-2 me-2" onclick=" confirmarCancelacion(event)">Cancelar</a>
                        <button type="submit" class="btn btn-primary mt-2" onclick=" confirmarModificacion(event)">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
