{% extends "maestra.html" %}

{% block title %}Marcas | Eco-Friendly{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="mb-4 mt-4">Modificar Presentación</h3>
                <form action="/actualizar_presentacion" method="post">
                    <input type="hidden" name="id" value="{{ presentacion[0] }}">
                    <label for="color" class="mb-3">Color:</label>
                    <input required type="text" class="form-control" placeholder="Color" name="color" id="color" value="{{ presentacion[1] }}">
                    <label for="talla" class="mb-3">Talla:</label>
                    <input required type="text" class="form-control" placeholder="Talla" name="talla" id="talla" value="{{ presentacion[2] }}">
                    <hr>
                    <div class="text-end">
                        <a href="{{ url_for('presentacion') }}" class="btn btn-danger mt-2" onclick=" confirmarCancelacion(event)">Cancelar</a>
                        <button type="submit" class="btn btn-primary mt-2" onclick=" confirmarModificacion(event)">Guardar</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}



