{% extends "maestra.html" %}

{% block title %}Marcas | Eco-Friendly{% endblock %}

{% block content %}
<div class="col-lg-4 col-md-7 ms-5 mt-4 me-4">
    <a href="{{ url_for('registrar_presentacion') }}">
    <button class="btn btn-primary">Nuevo</button>
    </a>
    <hr>
    <table class="table table-bordered table-hover text-center table-responsive">
        <thead class="table-secondary">
            <tr>
                <th>ID</th>
                <th>Olor</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for presentacion in presentaciones %}
            <tr>
                <td>{{ presentacion[0] }}</td>
                <td>{{ presentacion[1] }}</td>
                <td>{{ presentacion[2] }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Acciones">
                        <form action="{{ url_for('modificar_presentacion') }}" method="post">
                            <input type="hidden" name="id" value="{{ presentacion[0] }}">
                            <button type="submit" class="btn btn-warning me-4 text-white" onclick=" modificar(event)">Modificar</button>
                        </form>
                        <a href="{{ url_for('eliminar_presentacion', id=presentacion[0]) }}" class="btn btn-danger" onclick=" confirmarEliminacion(event)">Eliminar</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}



