{% extends "maestra.html" %}

{% block title %}Marcas | Eco-Friendly{% endblock %}

{% block content %}

<div class="col-lg-8  col-md-7 ms-5 mt-4 me-4">
    <a href="{{ url_for('registrar_tipoproducto') }}">
    <button class="btn btn-primary" >Nuevo
    </button>
    </a>
    <hr>
    <table class="table table-bordered table-hover text-center table-responsive ">
        <thead class="table-secondary">
            <tr>
                <th>ID</th>
                <th>Tipo</th>
                <th>Descripcion</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for tipo in tipos_productos %}
            <tr>
                <td>{{ tipo[0] }}</td>
                <td>{{ tipo[1] }}</td>
                <td>{{ tipo[2] }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Acciones">
                        <form action="/modificar_tipoproducto" method="post">
                            <input type="hidden" name="id" value="{{ tipo[0] }}">
                            <button type="submit" class="btn btn-warning me-4 text-white " onclick=" modificar(event)">Modificar</button>
                        </form>
                        <a href="{{ url_for('eliminar_tipoproducto', id=tipo[0]) }}" class="btn btn-danger" onclick=" confirmarEliminacion(event)">Eliminar</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
</div>

{% endblock %}