{% extends "dashboard/dashboard.html" %}

{% block title %}Marcas | Eco-Friendly{% endblock %}

{% block content %}
<div class="col-lg-4  col-md-7 ms-5 mt-4 me-4">
    <h2>Marcas</h2><br>
    <a href="{{ url_for('registrar_marca') }}">
    <button class="btn btn-primary" >Nuevo
    </button>
    </a>
    <hr>
    <table class="table table-bordered table-hover text-center table-responsive ">
        <thead class="table-secondary">
            <tr>
                <th>ID</th>
                <th>Marca</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for marca in marcas %}
            <tr>
                <td>{{ marca[0] }}</td>
                <td>{{ marca[1] }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Acciones">
                        <form action="{{ url_for('modificar_marca') }}" method="post">
                            <input type="hidden" name="id" value="{{ marca[0] }}">
                            <button type="submit" class="btn btn-warning me-4 text-white" onclick="modificar(event)">Modificar</button>
                        </form>
                        <a href="{{ url_for('eliminar_marca', id=marca[0]) }}" class="btn btn-danger" onclick="confirmarEliminacion(event)">Eliminar</a>

                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
</div>
{% endblock %}
