{% extends "dashboard/dashboard.html" %}

{% block title %}Producto | Eco-Friendly{% endblock %}

{% block content %}
<div class="col-lg-11 col-md-10 ms-2 mt-4 me-2">
    <h2>Productos</h2><br>
    <a href="{{ url_for('registrar_producto') }}" class="btn btn-primary mb-3">Nuevo</a>
    <hr>
    <table class="table table-bordered table-hover text-center table-responsive">
        <thead class="table-secondary">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>S/.Precio Normal</th>
                <th>Descuento</th>
                <th>S/.Precio Final</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Tipo de Producto</th>
                <th>Género</th>
                <th>Marca</th>
                <th>Categoría</th>
                <th>Grupo de Edad</th>
                <th>Imagen de Referencia</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto[0] }}</td>
                <td>{{ producto[1] }}</td>
                <td>{{ producto[2] }}</td>
                <td>{{ producto[3] }}</td>
                <td>{{ producto[4] }}</td>
                <td>{{ producto[5] }}</td>
                {% if producto[6] == "A" %}
                <td>Activo</td>
                {% else %}
                <td>Inactivo</td>
                {% endif %}
                <td>{{ producto[7] }}</td>
                <td>{{ producto[8] }}</td>
                <td>{{ producto[9] }}</td>
                <td>{{ producto[10] }}</td>
                <td>{{ producto[11] }}</td>
                <td>
                    <img class="img-item" src="{{ url_for('static', filename='img/' + producto[12]) }}" alt="Imagen item 1" style="width: 100px;">
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Acciones">
                        <form action="{{ url_for('modificar_producto') }}" method="post">
                            <input type="hidden" name="id_pr" value="{{ producto[0] }}">
                            <button type="submit" class="btn btn-warning me-4 text-white" onclick=" modificar(event)">Modificar</button>
                        </form>
                        <a href="{{ url_for('eliminar_producto',id=producto[0]) }}" class="btn btn-danger" onclick=" confirmarEliminacion(event)">Eliminar</a>
                    </div>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}



