{% extends "dashboard/dashboard.html" %}

{% block title %}Marcas | Eco-Friendly{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="mb-4 mt-4">Agregar Presentación</h3>
                <form action="/insertar_presentacion" method="post" onsubmit=" validarFormulario(event)">
                    <div class="mb-3">
                        <label for="color" class="form-label">Olor:</label>
                        <input required type="text" class="form-control" placeholder="Olor" name="olor" id="color">
                    </div>
                    <div class="mb-3">
                        <label for="talla" class="form-label">Tipo:</label>
                        <input required type="text" class="form-control" placeholder="Tipo" name="talla" id="talla">
                    </div>
                    <hr>
                    <div class="text-end">
                        <a href="{{ url_for('presentacion') }}" class="btn btn-danger mt-2" onclick=" volver(event)">Volver</a>
                        <button type="submit" class="btn btn-primary mt-2">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}



