{% extends "dashboard/dashboard.html" %}

{% block title %}Registrar Distrito | Eco-Friendly{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="mb-4 mt-4">Agregar Distrito</h3>
                <form action="{{ url_for('insertar_distrito') }}" method="post" onsubmit=" validarFormulario(event)">
                    <div class="mb-3">
                        <label for="distrito" class="form-label">Distrito:</label>
                        <input required type="text" class="form-control" placeholder="distrito" name="distrito" id="distrito">
                    </div>
                    <div class="mb-3">
                        <label for="provincia" class="form-label">Provincia:</label>
                        <select class="form-select" id="provincia" name="provincia" required>
                            {% for provincia in provincias %}
                                <option value="{{ provincia[0] }}">{{  provincia[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <hr>
                    <div class="text-end">
                        <a href="{{ url_for('distrito') }}" class="btn btn-danger mt-2" onclick=" volver(event)">Volver</a>
                        <button type="submit" class="btn btn-primary mt-2">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}


