{% extends "dashboard/dashboard.html" %}

{% block title %}Marcas | Eco-Friendly{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="mb-4 mt-4">Agregar Producto</h3>
                <form action="/insertar_producto" method="post" enctype="multipart/form-data" onsubmit="validarFormulario(event)">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input required type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre del producto">
                    </div>
                    <div class="mb-3">
                        <label for="precio" class="form-label">Precio:</label>
                        <input required type="number" step="0.01" class="form-control" id="precio" name="precio" placeholder="Ingrese el precio del producto">
                    </div>
                    <div class="mb-3">
                        <label for="descuento" class="form-label">Descuento:</label>
                        <input type="number" step="0.01" class="form-control" id="descuento" name="descuento" placeholder="Ingrese el descuento del producto">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción:</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" placeholder="Ingrese una descripción del producto"></textarea>
                    </div>


                    <div class="mb-3">
                        <label for="tipo_producto" class="form-label">Tipo Producto</label>
                        <select class="form-select" id="tipo_producto" name="tipo_producto" required>
                            {% for pro in tipo_productos  %}
                            <option> {{ pro[0] }} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="genero" class="form-label">Genero</label>
                        <select class="form-select" id="genero" name="genero" required>
                            {% for genero in generos  %}
                            <option> {{ genero[0] }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="marca" class="form-label">Marca</label>
                        <select class="form-select" id="marca" name="marca" required>
                            {% for marca in marcas  %}
                            <option> {{ marca[0]}} </option>
                            {% endfor %}
                        </select>                        
                    </div>
                    <div class="mb-3">
                        <label for="categoria" class="form-label">Categoría</label>
                        <select class="form-select" id="categoria" name="categoria" required>
                            {% for categoria  in categorias  %}
                            <option> {{ categoria[0] }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="grupo_edad" class="form-label">Grupo edad</label required>
                        <select class="form-select" id="grupo_edad" name="grupo_edad">
                            {% for grupo_edad  in grupo_edad  %}
                            <option> {{ grupo_edad[0] }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="estado" class="form-label">Estado:</label required>
                        <select class="form-select" id="estado" name="estado">
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="imagen_producto" class="form-label">Imagen Producto:</label>
                        <input type="file" class="form-control" name="imagen_producto" id="imagen_producto" accept=".jpg, .jpeg, .png, .gif" required>
                    </div>
                    <!-- Agrega aquí los campos para los ID de tipo_producto, genero, marca, categoria, grupo_edad y presentacion -->
                    <hr>
                    <div class="text-end" class="mb-4" >
                        <a href="{{url_for('producto')}}" class="btn btn-danger mt-2 me-2" onclick=" volver(event)">Volver</a>
                        <button type="submit" class="btn btn-primary mt-2">Guardar</button> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
