{% extends "dashboard/dashboard.html" %}

{% block title %}Resumen | Blog-Friendly{% endblock %}

{% block content %}
<table class="table table-bordered table-hover text-center table-responsive ">
    <thead class="table-secondary">
        <tr>
            <th>ID</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Caso1</td>
            <td>Caso2</td>
            <td>Caso3</td>
        </tr>
    </tbody>
</table>
{% endblock %}

